<% provide(:title, "Calendário Geral") %>
<% content_for :scripts do %>
	<!--FullCalendar-->
	<script type="text/javascript">
		
		$(document).on('turbolinks:load', function ready()
		{
			/*
				date store today date.
				d store today date.
				m store current month.
				y store current year.
			*/
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
			
			/*
				Initialize fullCalendar and store into variable.
				Why in variable?
				Because doing so we can use it inside other function.
				In order to modify its option later.
			*/
			
			var calendar = $('#calendar').fullCalendar(
			{
				/*
					header option will define our calendar header.
					left define what will be at left position in calendar
					center define what will be at center position in calendar
					right define what will be at right position in calendar
				*/
				header:
				{
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				/*
					defaultView option used to define which view to show by default,
					for example we have used agendaWeek.
				*/
				defaultView: 'month',
				/*
					selectable:true will enable user to select datetime slot
					selectHelper will add helpers for selectable.
				*/
				selectable: false,
				selectHelper: true,
				/*
					when user select timeslot this option code will execute.
					It has three arguments. Start,end and allDay.
					Start means starting time of event.
					End means ending time of event.
					allDay means if events is for entire day or not.
				*/
				select: function(start, end, allDay)
				{
					/*
						after selection user will be promted for enter title for event.
					*/
					var title = prompt('Event Title:');
					/*
						if title is enterd calendar will add title and event into fullCalendar.
					*/
					if (title)
					{
						calendar.fullCalendar('renderEvent',
							{
								title: title,
								start: start,
								end: end,
								allDay: allDay
							},
							true // make the event "stick"
						);
					}
					calendar.fullCalendar('unselect');
				},
				/*
					editable: true allow user to edit events.
				*/
				editable: false,
				/*
					events is the main option for calendar.
					for demo we have added predefined events in json object.
				*/
				googleCalendarApiKey: 'AIzaSyCZFN6gl71lNqIKVao1g8o6In_8zF-IuqQ',
				eventSources: [
				/* perfil 1 */
				{
					googleCalendarId: 'fvcu8l5eps6ba7svmpj7jrn6qc@group.calendar.google.com',
					backgroundColor: '#4d9de0',
                    borderColor: '#ffffff'
				},
				/* perfil 2 */
				{
					googleCalendarId: '0kraa2ase0ntl9uvqtikj9pajc@group.calendar.google.com',
					backgroundColor: '#B39C4D',
                    borderColor: '#ffffff'
				},
				/* perfil 3 */
				{
					googleCalendarId: 'qndtjlpbv58q7ibhi2c1fhbmqo@group.calendar.google.com',
					backgroundColor: '#e15554',
                    borderColor: '#ffffff'
				},
				/* perfil 4 */
				{
					googleCalendarId: 'seit8i9mrrjoie1n5ad1n35fbo@group.calendar.google.com',
					backgroundColor: '#768948',
                    borderColor: '#ffffff'
				},
				/* perfil 5 */
				{
					googleCalendarId: 's6crri9h5v7u691lhuguf7pr1c@group.calendar.google.com',
					backgroundColor: '#0B3954',
                    borderColor: '#ffffff'
				},
				/* perfil 6 */
				{
					googleCalendarId: 'ut2qqh8ttp9s625qbvkqrppcuk@group.calendar.google.com',
					backgroundColor: '#E0BE36',
                    borderColor: '#ffffff'
				},
				/* perfil 7 */
				{
					googleCalendarId: 'uirbj31u46f5b8467lu7andiac@group.calendar.google.com',
					backgroundColor: '#7768ae',
                    borderColor: '#ffffff'
				},
				/* perfil 8 */
				{
					googleCalendarId: 'int5tpvaebhotn0deg4qrhlo48@group.calendar.google.com',
					backgroundColor: '#8F9491',
                    borderColor: '#ffffff'
				},
				/* Optativas */
				{
					googleCalendarId: 'int5tpvaebhotn0deg4qrhlo48@group.calendar.google.com',
					backgroundColor: '#483C46',
                    borderColor: '#ffffff'
				},
				/* Eventos */
				{
					googleCalendarId: 'int5tpvaebhotn0deg4qrhlo48@group.calendar.google.com',
					backgroundColor: '#BCA3AC',
                    borderColor: '#ffffff'
				},
				{
					events: [
                    /* perfil 1 */
					{
						title: 'Alg 1 P1',
                        start: new Date(2017, 4, 22, 14, 0),
                        allDay: false
					},
					{
						title: 'Alg 1 P2',
                        start: new Date(2017, 6, 17, 14, 0),
                        allDay: false
					},
					{
						title: 'Física P1',
                        start: new Date(2017, 3, 24, 14, 0),
                        allDay: false
					},
					{
						title: 'Física P2',
						start: new Date(2017, 5, 5, 14, 0),
                        allDay: false
					},
					{
						title: 'Física P3',
						start: new Date(2017, 6, 10, 14, 0),
                        allDay: false
					},
					{
						title: 'GAAL P1',
						start: new Date(2017, 4, 10, 14, 0),
                        allDay: false
					},
					{
						title: 'Noções de Economia P1',
						start: new Date(2017, 4, 10, 10, 0),
                        allDay: false
					},
					{
						title: 'Noções de Economia P2',
						start: new Date(2017, 6, 5, 10, 0),
                        allDay: false
					},
					{
						title: 'Noções de Economia Sub',
						start: new Date(2017, 6, 10, 10, 0),
                        allDay: false
					},
					{
						title: 'Cálculo 1 P1',
						start: new Date(2017, 3, 25, 8, 0),
                        allDay: false
					},
					{
						title: 'Cálculo 1 P2',
						start: new Date(2017, 5, 7, 8, 0),
                        allDay: false
					},
					{
						title: 'Cálculo 1 P3',
						start: new Date(2017, 6, 19, 8, 0),
                        allDay: false
					},
					{
						title: 'Ética Seminários',
						start: new Date(2017, 4, 19, 14, 0),
                        allDay: false
					},
					{
						title: 'Ética Seminários',
						start: new Date(2017, 4, 26, 14, 0),
                        allDay: false
					},
					{
						title: 'Ética P1',
						start: new Date(2017, 5, 2, 14, 0),
                        allDay: false
					},
					{
						title: 'Ética Seminários',
						start: new Date(2017, 5, 30, 14, 0),
                        allDay: false
					},
					{
						title: 'Ética Seminários',
						start: new Date(2017, 6, 21, 14, 0),
                        allDay: false
					},
					{
						title: 'PAC P1',
						start: new Date(2017, 5, 29, 14, 0),
                        allDay: false
					},
					{
						title: 'PAC Entrega de Relatório',
						start: new Date(2017, 4, 18, 14, 0),
                        allDay: false
					},
					{
						title: 'Lógica P1',
						start: new Date(2017, 4, 12, 8, 0),
                        allDay: false
					},
					{
						title: 'Lógica P2',
						start: new Date(2017, 6, 7, 8, 0),
                        allDay: false
					},
					{
						title: 'Lógica Sub',
						start: new Date(2017, 6, 14, 8, 0),
                        allDay: false
                    }],
                    backgroundColor: '#4d9de0',
                    borderColor: '#ffffff'
                },
                /* perfil 3 */
                {
                	events: [
                    {
						title: 'INSI P1',
						start: new Date(2017, 4, 9, 8, 0),
						allDay: false
                    },
                    {
						title: 'ED1 P1',
						start: new Date(2017, 4, 25, 14, 0),
						allDay: false
                    },
                    {
						title: 'POO P1',
						start: new Date(2017, 4, 29, 14, 0),
						allDay: false
                    },
                    {
						title: 'INSI P2',
						start: new Date(2017, 5, 27, 8, 0),
						allDay: false
                    },
                    {
						title: 'POO P2',
						start: new Date(2017, 6, 3, 14, 0),
						allDay: false
                    },
                    {
						title: 'ACP P1',
						start: new Date(2017, 6, 4, 14, 0),
						allDay: false
                    },
                    {
						title: 'ED1 P2',
						start: new Date(2017, 6, 6, 14, 0),
						allDay: false
                    }, 
                    {
						title: 'Arq P1',
						start: new Date(2017, 3, 20, 8, 0),
						allDay: false
                    },
                    {
						title: 'Arq P2',
						start: new Date(2017, 5, 1, 8, 0),
						allDay: false
                    },
                    {
						title: 'Arq P3',
						start: new Date(2017, 6, 6, 8, 0),
						allDay: false
                    },
                        
                    {
						title: 'LabArq',
						start: new Date(2017, 6, 14, 8, 0),
						allDay: false
                    },
                    {
						title: 'ED1 SAC',
						start: new Date(2017, 6, 13, 14, 0),
						allDay: false
                    },
                    {
						title: 'Grafos P1',
						start: new Date(2017, 4, 8, 8, 0),
						allDay: false
                    },
                    {
						title: 'Grafos P2',
                        start: new Date(2017, 5, 12, 8, 0),
						allDay: false
                    },
                    {
						title: 'Grafos P3',
						start: new Date(2017, 6, 10, 8, 0),
						allDay: false
                    },
                    {
						title: 'Complexidade P1',
						start: new Date(2017, 4, 3, 8, 0),
						allDay: false
                    },
                    {
						title: 'Complexidade P2',
						start: new Date(2017, 5, 7, 8, 0),
						allDay: false
                    },
                    {
						title: 'Complexidade P3',
						start: new Date(2017, 6, 5, 8, 0),
						allDay: false
                    }
                
                    /*
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
                    }
                    */],
                    backgroundColor: '#e15554',
                    borderColor: '#ffffff'
                },
                {
                    /* perfil 5 */
                    events: [
                    {
                        title: 'ES2 Entrega Intermediária',
                        start: new Date(2017, 4, 2, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Redes P1',
                        start: new Date(2017, 4, 10, 10, 0),
                        allDay: false
                    },
                    {
                        title: 'PLP P1',
                        start: new Date(2017, 4, 11, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'Web P1',
                        start: new Date(2017, 4, 12, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'Compiladores Entrega Fase 2',
                        start: new Date(2017, 4, 28, 13, 0),
                        allDay: false
                    },
                    {
                        title: 'Compiladores P1',
                        start: new Date(2017, 4, 29, 13, 0),
                        allDay: false
                    },
                    {
                        title: 'LabBD Entrega Intermediária',
                        start: new Date(2017, 5, 1, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'PLP P2',
                        start: new Date(2017, 6, 6, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'Redes P2',
                        start: new Date(2017, 5, 14, 10, 0),
                        allDay: false
                    },
                    {
                        title: 'Web Estudo de Caso 1',
                        start: new Date(2017, 5, 23, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'Compiladores Entrega Fase 3',
                        start: new Date(2017, 6, 5, 13, 0),
                        allDay: false
                    },
                    {
                        title: 'ES2 P1',
                        start: new Date(2017, 5, 27, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'ES2/Web/LabBD Apresentação Final',
                        start: new Date(2017, 5, 27),
                    },
                    {
                        title: 'Compiladores P2',
                        start: new Date(2017, 6, 3, 13, 0),
                        allDay: false
                    },
                    {
                        title: 'Web P2',
                        start: new Date(2017, 6, 7, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'CG Prova',
                        start: new Date(2017, 6, 7, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'PLP P3',
                        start: new Date(2017, 6, 13, 8, 0),
                        allDay: false
                    },
                    {
                        title: 'LabBD Prova',
                        start: new Date(2017, 6, 13, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Redes P3',
                        start: new Date(2017, 6, 17, 10),
                        allDay: false
                    }
                    ],
                    backgroundColor: '#e1bc29',
                    borderColor: '#ffffff'
                },
                {
                	events: [
                	{
                        title: 'SeCot',
                        start: new Date(2017,4, 15, 8, 0),
                        end: new Date(2017, 4, 18, 18, 0),
                        url: 'http://secot.com.br/'
                    },
                	{
                        title: 'Semana dos Estudos',
                        start: new Date(2017, 4, 1, 8, 0),
                        end: new Date(2017, 4, 5, 20, 0),
                    },
                    {
                    	title: 'CryptoRave',
                    	start: new Date(2017, 4, 5),
                    	end: new Date(2017, 4, 6),
                    	allDay: true,
                    	url: 'https://cryptorave.org/'
                    }],
                    backgroundColor: '#7768ae',
                    borderColor: '#ffffff'

                },
                {
                	events: [
                   /* optativas */
                	{
                        title: 'AM Projeto Final',
                        start: new Date(2017, 5, 14, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'AM Seminário',
                        start: new Date(2017, 5, 20, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'AM Exame',
                        start: new Date(2017, 5, 14, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'Criptografia P1',
                        start: new Date(2017, 4, 11, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'Criptografia P2',
                        start: new Date(2017, 6, 6, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'AD P1',
                        start: new Date(2017, 4, 8, 14, 0),
                        allDay: false,
                    },
                	{
                        title: 'AD P2',
                        start: new Date(2017, 6, 3, 14, 0),
                        allDay: false,
                    },

                ],
                    backgroundColor: '#3bb273',
                    borderColor: '#ffffff'
                }]
			});
  			//#26B99A
  			//#9B59B6
  			//#BDC3C7
  			//#E74C3C
			// Boas cores para serem usadas
		});

	</script>
	<style type="text/css">
		body
		{
			margin-top: 20px;
			text-align: center;
			font-size: 14px;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}
		footer
		{
            margin-top: 40px;
			text-align: center;
			font-size: 14px;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}
	</style>
<% end %>

<div id='calendar'></div>