<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center><h1>Olá CACCS</h1></center>
    <p>
      <h2>"<%= @nome %>" entrou em contato com vocês via página de Contato do website do Centro Acadêmico.</h2>
      <h2>A mensagem deixada foi:</h2>
    <p>
    	"<%= @mensagem %>"
    </p>
    	<h2>Para responder, envie um email de volta para "<%= @email %>" ou responda esse email.</h2>
    </p>
  </body>
</html>