<% provide(:title, "Lista de usuários") %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Login</td>
      <td>Email</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.login %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>