<% modelo = yield(:modelo) %>
<% if modelo == "user" %>
  <% user = @user %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(user.errors.count, "error") %>.
      </div>
      <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% elsif modelo == 'event' %>
  <% event = @event %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(event.errors.count, "error") %>.
      </div>
      <ul>
      <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
