<% provide(:title, "Contato") %>
<h1>Contato</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'email/form' %>
	</div>
</div>
<h2>Ou nos envie uma mensagem em <a href="https://www.facebook.com/CACCS.UFSCar/">nossa página</a> no Facebook</h2>