@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.signup {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  form {
    padding: 30px;
    border-radius: 25px;
    display: inline-block;
    border: 3px solid #f1f1f1;
    margin: 0 auto;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }

  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

  .row-info{
    margin-top: 0.5em;
  }
  #symbol_access{
    font-size: 20px;
    text-align: center;
    .button_to{
      display: inline-block;
      margin-left: 5px;
    }
  }
  #access-authorized{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    background: rgba(0,0,0, 0.5);
  }
  #access-authorized-inside{
    position: fixed;
    height: 400px;
    width: 70%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -200px;
  }