<footer class="footer">
  <small>
    <a href="https://www.facebook.com/CACCS.UFSCar/">CACCS - UFSCar &reg;</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>